################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/2209040036/School sports meeting management system design/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
